@import "./vars.scss";


.home-header{
    //text-align: center;
    margin-top: 10vh;

    .h1{
        font-size: 32px; 
        font-family: 'Arial', sans-serif;
        color: #340481;
        font-weight: 500;
        text-align: left;
        display: inline-block;
    }
}