@import "./vars.scss";

body {
    font-family: monospace;
    background-image: url(./../images/animatedplant4.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    color: $foreground;
    // display: flex; // if display flex is used, the body will be centered
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    // padding: 0 30px;
    height: 100vh;
    width: 100vw;
    opacity: 1.0; // opacity of body
}