@import "./vars.scss";

.question-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    height: 100vh;

    .quiz-container {
        width: 60vw;
        border-radius: 2vh;
        justify-content: center;
        background: $bg;
        opacity: 1.0;
        //margin-top: 100px;
        padding: 30px 60px;
        box-sizing: border-box;
        position: relative;
        border: 2px solid black;
    
        .active-question-no{
            font-size: 32px;
            font-weight: 500;
            color: $primary;
        }
    
        .total-question{
            font-size: 16px;
            font-weight: 500;
            color: $disabled;
        }
    
        h2{
            font-size: 20px;
            font-weight: 500;
            margin: 0;
        }
    
        ul{
            margin-top: 20px;
            margin-left: -40px;
    
            li{
                text-decoration: none;
                list-style: none;
                color: $foreground;
                font-size: 16px;
                background: $bg;
                border: 1px solid $disabled;
                border-radius: 16px;
                padding: 11px;
                margin-top: 15px;
                cursor: pointer;
            }
    
            .selected-answer{
                background: $primary;
                border: 1px solid $accent;
                color: $bg;
            }
    
            .correct-answer{
                background: $correct;
                border: 1px solid $correct;
                color: $bg;
            }
    
            .incorrect-answer{
                background: $incorrect;
                border: 1px solid $incorrect;
                color: $bg;
            }
        }
    
        .footer{
            display: flex;
            justify-content: flex-end;
            
        }
    
        button{
            background: linear-gradient(0deg, $button-top, 50%, $button-bottom);       
            border-color: $accent;
            font-size: 18px;
            font-weight: 400;
            color: $primary;
            padding: 10px 42px;
            outline: none;
            border-radius: 20px;
            //margin-top: 15px;
            cursor: pointer;
        
    
            &:disabled{
                background: $bg-accent;
                color: $disabled;
                cursor: not-allowed;
            }
        }
    
    }
}

