$button-top: #db6618;
$button-bottom: yellow; 
$primary: #150080;
$accent: #db6618;
$bg: #ffffff;
$bg-accent: #e7e8e9;
$disabled: #9c9c9c;
$foreground: #2d264b;
$correct: #2cb82c;
$incorrect: #ce0000;
$blur: rgba(255, 255, 255, 0.5);